<div class="box-search">

  <div class="filter">
    <h3 class="filter-header">Filtros: </h3>

    <select class="custom-select" [(ngModel)]="params.sexo">
      <option [value]="''" selected>Selecione o Sexo</option>
      <option [value]="'M'">Masculino</option>
      <option [value]="'F'">Feminino</option>
    </select>

    <select class="custom-select" [(ngModel)]="params.birth">
      <option [value]="''" selected>Selecione Ano de Nascimento</option>
      <option *ngFor="let year of listYears" [value]="'01-01-' + year">{{ year }}</option>
    </select>

    <!-- <div class="input-datepicker input-group">
      <input class="form-control" placeholder="Data da vacinação"
        name="dp" [(ngModel)]="params.tomada" ngbDatepicker #d="ngbDatepicker">
      <button class="input-group-addon" (click)="d.toggle()" type="button">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </button>
    </div> -->

    <button type="button" class="btn btn-light" (click)="search()">Filtrar</button>
  </div>

  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 168px;">Vacinas Tomadas</th>
        <th>Nome da Vacina</th>
        <th>Data de nascimento</th>
        <th>Sexo</th>
        <th>Data Tomada</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of objectList">
        <th scope="row">{{ obj.vacinas_tomadas }}</th>
        <td>{{ obj.nome_vacina }}</td>
        <td>{{ obj.birth_date | date: 'dd/MM/yyyy' }}</td>
        <td *ngIf="obj.sexo == 'M'">Masculino</td>
        <td *ngIf="obj.sexo == 'F'">Feminino</td>
        <td>{{ obj.data_tomada | date: 'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>